.ipynb_checkpoints/

![EG_code_data]_release/
[EG_code_data]_release/*

gcloud_keys/
layers/
__pycache__/
tfjs2/
my_model.h5
zoom_premium/.cache/
zoom_premium/.ipynb_checkpoints/

!zoom_premium/node_modules/
zoom_premium/node_modules/*

zoom_premium/yarn.lock
zoom_premium/tfjs/


